<h1>aboutページ</h1>

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script src="https://kit.fontawesome.com/3c97181b25.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="application.css" />
    <title>Bookers2Ver2</title>
  </head>